<!-- /templates/about.html -->
{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>
    <p class="lead text-center">Welcome to the About page. Here you can provide information about your application, its purpose, and any other relevant details you wish to share with your users.</p>
    <p>This application is designed to help users generate nutritious food suggestions based on their specific criteria, including age, weight, gender, and meal preferences.</p>
    <p>Feel free to explore our features and see the food ideas generated just for you!</p>
    <p>If you have any problems using the application, please contact us at:</p>
    <p class="text-center">
        <a href="https://www.facebook.com/aiparuay8" class="btn btn-primary" target="_blank">
            <i class="bi bi-facebook"></i> Contact Us on Facebook
        </a>
    </p>
</div>
{% endblock %}
