<!-- /templates/about.html -->
{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to the About page. Here you can provide information about your application, its purpose, and any other relevant details you wish to share with your users.</p>
    <p>This application is designed to help users generate nutritious food suggestions based on their specific criteria, including age, weight, gender, and meal preferences.</p>
    <p>Feel free to explore our features and see the food ideas generated just for you!</p>
    <p>if you have problem for use please contact me at <a href="https://www.facebook.com/aiparuay8">https://www.facebook.com/aiparuay8</a> </p>
</div>
{% endblock %}
